.place__title {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
}

@media screen and (max-width: 984px){
  .place__title {
    max-width: 330px;
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 450px){
  .place__title {
    padding: 0 16px;
    font-size: 32px;
    line-height: 35px;
  }
}
