.page {
  max-width: 1280px;
  min-width: 320px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 28px 0 24px;
  background-color: #2a2c2f;
  color: #ffffff;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
}

@media screen and (max-width: 568px) {
  .page {
    padding: 16px 0 24px;
  }
}
