.cover__subtitle {
  padding-top: 32px;
  max-width: 360px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

@media screen and (max-width: 568px){
  .cover__subtitle {
    padding-top: 16px;
    max-width: 288px;
    font-size: 14px;
    line-height: 16px;
  }
}
