.footer__copyright {
  margin: 0;
}

@media screen and (max-width: 1124px){
  .footer__copyright {
    font-size: 14px;
    line-height: 16px;
  }
}

@media screen and (max-width: 735px){
  .footer__copyright {
    padding-top: 20px;
  }
}
