.place__website {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-height: 46px;
}

@media screen and (max-width: 568px){
  .place__website {
    padding: 0 16px;
    max-height: 43px;
  }
}
