.place__website {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media screen and (max-width: 984px){
  .place__website {
    max-height: 46px;
    padding: 0 16px;
  }
}

@media screen and (max-width: 568px){
  .place__website {
    padding: 0 16px;
    max-height: 43px;
  }
}
